header {
    z-index: 3;
}
.task , .task-detailed{
    width: 80%;
    z-index: 1;
    background: linear-gradient(to left bottom, rgba(255, 0, 0, 0.33), rgba(0, 0, 255, 0.543));
    box-shadow: 2px 2px 2px rgba(105, 104, 104, 0.773);
    border-radius: 5px;
    padding: 10px;
    margin: 2% 20px;
    cursor: pointer;
}

.task-detailed{
    height: 500px;
}
#meuCanvas{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background: rgba(239, 53, 24, 0);
    
}
main{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}