{% extends 'base.html' %}
{% load static %}

{% block title %} Tasks {% endblock %}

{% block styles %}
   <link rel="stylesheet" href="{% static 'tasks/css/styles.css' %}"> 
{% endblock styles %}

{% block content %} 
   <main>
      <section class="task-list">
         <p>Completed tasks: {{count}}</p> 
         
            <div id="add-task-form">
               <form 
                  action="{% url 'tasks:create_task' %}" 
                  method="post"
               >{% csrf_token %}
                  <input 
                        type="text"                     
                        name="name" 
                        class="text"
                        required
                  >
                  <input 
                        type="text"                     
                        name="description" 
                        class="text"
                                 
                  >                    
                  <input 
                        type="date"
                        name="conc_date"
                        required
                  >
                  <input 
                     type="submit" 
                     value="Add task"
                  >
                </form>
            </div>
            {% if tasks %}
               {% for task in tasks %}
                  <div class="task">                     
                     <div class="content">
                        <span>{{task.name}}</span>
                        <span>{{task.description}}</span>
                        <span>{{task.conc_date|date:"d/m/Y"}}</span>
                     </div>
                     <div class="actions">
                        <form action="{% url 'tasks:edit_task' task.id %}"  method="get">
                           {% csrf_token %}
                           <input 
                              type="submit" 
                              value="Edit" 
                              class="edit_task"
                           >
                        </form>
 
                        <form action="{% url 'tasks:task_confirm_delete' task.id %}" method="get">
                           {% csrf_token %}
                           <input 
                              type="submit" 
                              value="Delete" 
                              id="delete_task"
                           >
                        </form>                      
                     </div>
                  </div>
                  
               {% endfor %}           
         {% else %}
               <spam>No tasks available</spam>
         {% endif %}
        </section>
    </main>
    
{% endblock %}

{% block scripts %}
    <script src="{% static 'tasks/js/scripts.js' %}" ></script>
{% endblock scripts %}
    
