{% extends 'base.html' %}
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'tasks/styles.css' %}">
    <title>{% block title %} Tasks {% endblock %}</title>
</head>
<body>
    
    {% block content %}
    
        {% if tasks %}
            {% for task in tasks %}
                <div class="task">
                    <h3>{{task.name}}</h3>
                    <p>{{task.description}}</p>
                    <a href=""></a>
                    
    
                </div>
                <p>Tarefas Completas: {{count}}</p>
            {% endfor %}
        {% else %}
            <spam>No tasks available</spam>
        {% endif %}
    {% endblock %}
</body>
</html>