{% extends 'base.html' %}

{% block title %} To Do List {% endblock %}

{% block content %} 
   <main>
      <input type="checkbox" id="toggle-concluded-tasks" >
      </input>
      <label for="toggle-concluded-tasks">Show concluded tasks</label>    
      
      <section class="concluded-tasks">
         <p>Concluded tasks: {{count}}</p>
         {% for concluded_task in concluded_tasks %}
            <div class="concluded-task">
               <p class="task-title">{{ concluded_task.name }}</p>
               <p class="task-description">{{ concluded_task.description }}</p>
               <p>Date of conclusion: {{ concluded_task.conc_date|date:"d/m/Y" }}</p>
            </div>
         {% empty %}
            <p> There is no concluded tasks.</p>
         {% endfor %}
      </section>
      <section class="task-list">                  
            <div id="add-task-form">
               <form 
                  action="{% url 'tasks:create_task' %}" 
                  method="post"
               >{% csrf_token %}
                  <input 
                        type="text"                
                        name="name" 
                        class="text"
                        required
                  >
                  <input 
                        type="text"                     
                        name="description" 
                        class="text"                                 
                  >                    
                  <input 
                        type="date"
                        name="conc_date"
                        required
                  >
                  <input 
                     type="submit" 
                     value="Add task"
                  >
                </form>
            </div>
            {% for task in todo_tasks %}
               <div class="task">                     
                  <div class="content">
                     <span>{{task.name}}</span>
                     <span>{{task.description}}</span>
                     <span>{{task.conc_date|date:"d/m/Y"}}</span>
                  </div>
                  <div class="actions">
                     <form action="{% url 'tasks:conclude_task' task.id %}"  method="post">
                        {% csrf_token %}
                        <input 
                           type="submit" 
                           value="Conclude task" 
                           class="action"
                        >
                     </form>
                     <form action="{% url 'tasks:edit_task' task.id %}"  method="get">
                        {% csrf_token %}
                        <input 
                           type="submit" 
                           value="Edit" 
                           class="edit_task"
                        >
                     </form>

                     <form action="{% url 'tasks:task_confirm_delete' task.id %}" method="get">
                        {% csrf_token %}
                        <input 
                           type="submit" 
                           value="Delete" 
                           id="delete_task"
                        >
                     </form>                      
                  </div>
               </div>
               
            {% empty %}   
               <span>No tasks available</span>
            {% endfor %}  
        </section>
    </main>
    
{% endblock %}

    
