<html lang="en">
    {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <title>{% block title %}{% endblock %}</title>
   
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    {% block styles %}{% endblock styles %}
  </head>
  <body>
    <header class="base-header">
       <a class="home" href="{% url 'tasks:index' %}"><h1>Tasks</h1></a> 
       <nav class="menu">
            <ul class="nav_links">
                
                {% if user.is_authenticated %}
                    <li class=""><a class="" href="#"> {{ user.username }} </a></li>
                    <li class=""><a class="" href="{% url 'account_logout' %}">Logout</a></li>
                {% else %}
                    <li class=""><a class="" href="{% url 'account_login' %}">Login</a></li>
                    <li class=""></li><a class="" href="{% url 'account_signup' %}">SignUp</a></li>
                {% endif %}
            </ul>
           
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>  

    {% block scripts %}
    {% endblock scripts %}

  </body>
</html>